:root {
  --todo-font-family: 'Courier New', Courier, monospace;
  --todo-border-color: #767676;
}

body {
  font-family: var(--todo-font-family);
  margin: 0 auto;
  max-width: 35rem;
  width: 100vw;
}

h1 {
  font-size: 5rem;
  margin: 2rem 1rem;
  text-align: center;
}

#app {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
}

input[type="checkbox"] {
  height: 1.25rem;
  width: 1.25rem;
  align-self: center;
  margin: 0 0.5rem;
}

#todoInput {
  border: 1px solid var(--todo-border-color);
  flex-grow: 1;
  font-family: var(--todo-font-family);
  font-size: 1rem;
  height: 2rem;
  margin-bottom: 0.25rem;
  padding: 0 0.25rem;
}

#todoInput:focus {
  outline: none;
}

#todoUl {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.todo {
  align-items: center;
  cursor: default;
  display: flex;
  height: 2rem;
  justify-content: left;
}

.isDragging {
  background: lightgray;
}

.isCompleted {
  color: var(--todo-border-color);
  text-decoration: line-through;
}

.todoDeleteButton {
  margin: 0.25rem 0.25rem 0.25rem auto;
}

#todoFooter {
  margin-top: 0.5rem;
}

#todoCount {
  margin-left: 0.75rem;
}